<!DOCTYPE html>
<html>
	<head>
	    <!--%= title % is rendered by the value of title in users.server.controller.js file-->
		<title><%= title %></title>
	</head>
	<body>
		<% if ( userFullName ) { %>
			<h2>Hello <%=userFullName%> </h2>
			<a href="/signout">Sign out</a>
		<% } else { %>
			<a href="/signup">Sign-up</a>
			<br>
			<a href="/signin">Sign-in</a>
		<% } %>
		<br>
		<img src="img/MonsterHunterBackground.jpg" alt="Logo">
		<h1><%= title %></h1>
	</body>
</html>
